* {
	font-family: Inter, sans-serif;
	font-weight: 400;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

svg,
img {
	display: block;
}

button {
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	color: inherit;
}

span {
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
