$primary-text-color: #212121;
$accent-color-light: #5685ff;
$accent-color-main: #255ced;

$transition-color: color 250ms ease-in;
$transition-opacity: opacity 250ms ease-in;
$transition-bg: background-color 250ms ease-in;
$transition-shadow: box-shadow 250ms ease-in;

$mobileBreakpoint: 360px;
$tabletBreakpoint: 768px;
$desktopBreakpoint: 1024px;
